<!-- <form [formGroup]="childForm" (ngSubmit)="onSubmit()">
    <label>Name:</label>
    <input type="text" formControlName="name">
  
    <label>Description:</label>
    <input type="text" formControlName="description">
  
    <label>Child ID:</label>
    <input type="number" formControlName="childId">
  
    <label>Age:</label>
    <input type="number" formControlName="age">
  
    <label>Number of Darga:</label>
    <input type="number" formControlName="numOfDarga">
  
    <label>Is Revacha:</label>
    <input type="checkbox" formControlName="isRevacha">
  
    <label>Date of Birthday:</label>
    <input type="date" formControlName="dateOfBirthday">
  
    <label>Mother Helper:</label>
    <input type="text" formControlName="motherHelper">
  
    <label>Parent:</label>
    <input type="text" formControlName="parent">
  
    <button type="submit" [disabled]="childForm.invalid">Submit</button>
  </form>
   -->

   <!-- <form [formgroup]="childForm">



    <button type="submit" [disabled]="childForm.invalid">Submit</button>
   </form> -->